/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #2F3036, #6D8A96); 
    color: #F0F0F0; /* Texto blanco suave */
    line-height: 1.6;
     /* Añadir margen como marco */
    padding: 40px; /* Ajusta este valor para un marco más grande */
    
    border-radius: 10px; /* Bordes redondeados */
}

/* Header */
header {
    background-color: #434550; /* Gris más claro */
    color: white;
    padding: 1.5em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 2em;
    font-weight: 700;
}

header .logo span {
    color: #6D8A96; /* Azul claro */
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav li {
    margin-left: 30px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: #6D8A96; /* Azul claro */
}

/* Hero Section */
.hero {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco translúcido con opacidad del 20% */
    color: white;
    text-align: center;
    padding: 100px 5%;
    
    /* Filtro de desenfoque */
    backdrop-filter: blur(10px); /* Desenfoque para crear el efecto cristal */
    
    /* Fondo de color para que sea más visible, puede ser opcional */
    background: rgba(255, 255, 255, 0.1);
    
    /* Borde redondeado */
    border-radius: 10px;
    
    /* Sombra para darle profundidad */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.hero button { 
    position: absolute;  /* Posicionamiento absoluto */
    top: 20px;  /* 20px desde la parte superior */
    right: 20px;  /* 20px desde la parte derecha */
    padding: 10px 20px;
    background-color: #2F3036;  /* Color de fondo */
    color: white;  /* Color del texto */
    border: none;  /* Eliminar el borde */
    border-radius: 5px;  /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer;  
    }

.hero button:hover { 
    background-color: #4A4D55;
}

.hero .tomate {
    position: absolute;  /* Posicionamiento absoluto */
    top: 40px;           /* Distancia desde la parte superior */
    left: 50px;          /* Distancia desde la parte izquierda */
    width: 300px;        /* Ancho de la imagen */
    height: auto;        /* Mantener proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero .tomate:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hero h1 {
    font-size: 3.5em;
    font-weight: 700;
}
.hero i {
    font-size: 50px;
    
}
.hero p {
    font-size: 1.3em;
    margin-top: 20px;
}

/* Write-Up Section */
.writeup {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    padding: 50px 10%;
    background-color: #2F3036; /* Gris oscuro */
    border-radius: 10px;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.2); ;
}

.img_puertos {
    
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img_puertos:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img_vulns {
    
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img_vulns:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img_eternal {
    
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img_eternal:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.img_permisos {
    
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img_permisos:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img_user {
    
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img_user:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img_admin {
    
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img_admin:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.writeup h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #6D8A96; /* Azul claro */
}

.writeup p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.writeup pre {
    background-color: #2d2d2d; /* Gris oscuro */
    color: #F0F0F0; /* Texto claro */
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

.writeup code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

.writeup img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #6D8A96; /* Azul claro */
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1em;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav {
        display: none;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .writeup {
        padding: 30px 5%;
    }

    .writeup h2 {
        font-size: 2em;
    }

    .writeup p {
        font-size: 1em;
    }

    footer p {
        font-size: 0.9em;
    }
}
